# Local Terraform directories
.terraform/
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Exclude override files as they are usually environment-specific
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Exclude CLI configuration files
.terraformrc
terraform.rc

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*~
